.btn{
    text-decoration: none;
    border: 1px solid $color-white;
}
.grid-image-btn{
    text-transform: uppercase;
    color: $color-white;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 12px;

}
.big-image-btn{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    // @include respond(desktop){
    //     position: absolute;
    //     top: 65%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     margin: 0;
    // }
}
.aside-1-btn{
    margin-left: 20%;

}
.aside-2-btn{
    float: right;
    margin-right: 15%;

}