.slider {

    @include respond(tab-land){
       display: none;
    }
    @include respond(desktop){
       display: none;
    }

    height: 64rem;

    @include respond(tab-port){
        height: 40vh;
    }
    width: 100%;
    background-color: $color-primary;
    position: relative;

    &-text-area {
        position: absolute;
        margin-top: 70%;

        @include respond(tab-port){
            margin-top: 23%;
            margin-left: 25%;
         }

        margin-left: 20%;
        margin-right: 20%;
        text-align: center;

        &-text {
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
            color: $color-white;
            line-height: 43px;
            margin-bottom: 30px;
        }
    }

    &-btn {
        text-transform: uppercase;
        color: $color-white;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 12px;
    }

    &-indicators {

        position: absolute;
        margin-top: 50rem;
        margin-left: 40%;

        @include respond(tab-port){
            margin-left: 45%;
            margin-top: 30rem;
        }
        margin-right: 30%;
        &-list {
            &-all {
                list-style: none;

                li {
                    display: inline-block;
                    margin-bottom: 6px;    
                }

            }

        }

    }
    &-icon-arrow-down{
        position: absolute;
        top: 58rem;
        margin-left: 45%;
        @include respond(tab-port){
            margin-left: 50%;
            margin-top: -20rem;
         }
    }


}

.indicator {
    border: 1px solid $color-white;
    border-radius: 50%;
    width: 5px;
    height: 5px;

    &:not(:first-child){
        margin-bottom: 10px;
        background-color: $color-white;
    }
    margin-right: 6px;

    @include respond(tab-port){
        margin-right: 12px;
    }

    &-active {
        width: 15px;
        height: 15px;
        margin-bottom: 10px;

    }
}
